@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
  --blue: hsl(246, 80%, 60%);

  --light-red: hsl(15, 100%, 70%);
  --soft-blue: hsl(195, 74%, 62%);
  --light-red: hsl(348, 100%, 68%);
  --lime-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft-orange: hsl(43, 84%, 65%);

  /* ### Neutral */

  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);

  --def-font: "Rubik", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--def-font);
  background-color: var(--very-dark-blue);
  height: 100vh;
  width: 100vw;
  min-width: 100%;
}

main {
  margin-top: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user-box {
  /* align-self: stretch; */
}

.user-content {
  background-color: var(--blue);
  font-size: 1.8rem;
  color: var(--pale-blue);
  height: 60%;
  padding: 2rem;
  padding-bottom: 5rem;
  border-radius: 10px;
  position: relative;
}
.user-content .title {
  margin-top: 4rem;
}

.user-content .title h3 {
  margin-top: 0.5rem;
}

.user-content span {
  font-size: 1.2rem;
  opacity: 0.8;
}

.user-content h3 {
  font-weight: 400;
  letter-spacing: 1px;
}

.user-content img {
  display: block;
  height: 5rem;
  width: 5rem;
  border: 1px solid white;
  border-radius: 50%;
}

.user-time {
  background-color: var(--dark-blue);
  border-radius: 10px;
  margin-top: -1rem;
  padding: 2rem 1rem;

  /* overflow: hidden; */
}

.user-time ul {
  list-style: none;
}

.user-time ul li {
  padding: 1rem;
}
.user-time ul li button {
  background-color: transparent;
  border: none;
  color: var(--pale-blue);
  opacity: 0.3;
  text-transform: capitalize;
  cursor: pointer;
}

.user-time ul li button:hover,
.user-time ul li button.active {
  opacity: 1;
}

.data-container {
  display: flex;
  flex-wrap: wrap;
}

.data-box {
  width: 30.3%;
  padding: 1rem;
  color: var(--pale-blue);
  cursor: pointer;
  transition: all 0.2s;
}

.data-box:hover {
  filter: brightness(1.5);
}

.box-container {
  border-radius: 10px;
  background-color: var(--dark-blue);
  margin-top: -1.5rem;
  padding: 2rem;
}
.box-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.data .current {
  display: block;
  font-size: 3.5rem;
}

.data .previous {
  font-size: 1rem;
}
.work .bg {
  border-radius: 10px;
  background-color: var(--light-red);
  height: 4rem;
  background-image: url("./assets/images/icon-work.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.play .bg {
  border-radius: 10px;
  background-color: var(--soft-blue);
  height: 4rem;
  background-image: url("./assets/images/icon-play.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.study .bg {
  border-radius: 10px;
  background-color: var(--light-red);
  height: 4rem;
  background-image: url("./assets/images/icon-study.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.exercise .bg {
  border-radius: 10px;
  background-color: var(--lime-green);
  height: 4rem;
  background-image: url("./assets/images/icon-exercise.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.social .bg {
  border-radius: 10px;
  background-color: var(--violet);
  height: 4rem;
  background-image: url("./assets/images/icon-social.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.self .bg {
  border-radius: 10px;
  background-color: var(--soft-orange);
  height: 4rem;
  background-image: url("./assets/images/icon-self-care.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.bg img {
  display: block;
  width: 10rem;
  height: 10rem;
}

@media screen and (max-width: 825px) {
  main {
    flex-direction: column;
  }
  .user-box {
    width: 90%;
  }
  .data-container {
    justify-content: center;
  }
  .data-box {
    width: 40%;
  }
}

@media screen and (max-width: 450px) {
  .data-box {
    width: 90%;
  }
}
